@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.ContainerFooter{
  display: flex;
  flex-direction: column;
  background-color: #5E6973;
  padding-top: 30px;

}
.colobContainer{
  display: flex;
  flex-direction: column; 
}
.img1 , .img2 ,.img2 ,.img3 ,.img4 , .img5{
  width: 15%;
  height: 20%px;
}
.containerImg{
  display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
gap: 50px;
}
.footerTxt{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
